body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 400px;

  @media (max-width: 768px) {
    margin: 0 10px;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    margin: 0 50px;
  }

  @media (min-width: 1201px) {
    margin: 0 auto;
  }
}


.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  gap: 8px;
}

button:hover {
  background-color: #0056b3;
}
